<div class="category-wrapper" ng-controller="categoryController">

	<!-- new note form -->
	<div class="custom-modal" data-id="newNote">
    <div class="content">
	  <i class="button button-small ion-close-round custom-close-modal" ng-click="closeModal()"></i>
    <div class="modal-header">
      <h3><i class="icon ion-compose"></i>new note</h3>
    </div>
	  <input type="text" ng-model="noteTitle" placeholder="note title...">
	  <div class="item button button-positive add-button" ng-model="addButton" ng-disabled="!noteTitle" ng-click="newNote()">create note</div>
    </div>
	</div>

	<ion-item class="back-bar" ng-click="hideTab()">back
	<i class="icon ion-chevron-left left-arrow"></i>
	</ion-item>

  <ion-list>
	<ion-item class="categories-header" id="category-header" value="{{catId}}">{{category}}</ion-item>
	<div class='category-list'>
	<ion-item ng-repeat="note in notes">
	{{note.noteTitle}}
  <i class="button ion-compose custom-location" ng-click="openNote(note)"></i>
  <ion-option-button class="button-assertive" ng-click="deleteItem(note)">
    <i class="icon ion-close-circled custom-button"></i>
  </ion-option-button>
	</ion-item>
  </ion-list>
	</div>

  <!-- note template -->
  <div ng-controller="includeCtrl">
    <div ng-include="" src="template.note"></div>
  </div>

</div>

