<div class="list cities-wrapper">

<!-- new city modal -->
<div class="custom-modal city-modal" data-id="newCity" ng-controller="addController">
  <i class="icon ion-close-round custom-close-modal" ng-click="closeModal()"></i>
  <input type="text" ng-model="cityName" placeholder="insert new CITY here">
  <div class="item button button-positive" ng-model="addButton" ng-disabled="!cityName" ng-click="submitCity()">add city</div>
</div>

<ion-item class="back-bar" ng-click="hideTab()">back
<i class="icon ion-chevron-right right-arrow"></i>
</ion-item>

<ion-list>
<ion-item class="categories-header">cities</ion-item>
  <ion-item ng-repeat="city in cities">
    {{city.cityName}}
    <i class="button ion-location custom-location" ng-click="selectCity(city)"></i>
    <ion-option-button class="button-assertive" ng-click="deleteItem(city)">
      <i class="icon ion-close-circled custom-button"></i>
    </ion-option-button>
  </ion-item>
</ion-list>
</div><!-- end of list -->
