<div class="control-panel-wrapper">
  <div class="content">
    <!-- <i class="button button-small ion-arrow-down-b custom-close-control-panel" ng-click="toggleCtrlPanel()"></i> -->
    <i class='button ctrl-button ion-upload'>
      <label>backup</label>
    </i>
    <i class='button ctrl-button ion-compass' ng-click="getLocation()">
      <label>find me</label>
    </i>
    <i class='button ctrl-button ion-android-sunny' ng-click="toogleFlashlight()">
      <label>flashlight</label>
    </i>
    <i class='button ctrl-button ion-trash-a' ng-click="testtest()">
      <label>delete all</label>
    </i>
  </div>
</div>
