<div class="note-wrapper">
<i class="button button-small ion-close-round custom-close-note" ng-click="closeNote(note)"></i>

<h3 class="note-title">{{note.noteTitle}}</h3>
<div class="list list-inset">
  <label class="item item-input note-label">
    <i class="icon ion-ios-telephone placeholder-icon"></i>
    <input type="tel" ng-model="note.notePhone" placeholder="Phone">
  </label>
  <label class="item item-input note-label">
    <i class="icon ion-email placeholder-icon"></i>
    <input type="email" ng-model="note.noteEmail" placeholder="Email">
  </label>
  <label class="item item-input note-label">
    <i class="icon ion-monitor placeholder-icon"></i>
    <input type="text" ng-model="note.noteSite" placeholder="Site">
  </label>
  <label class="item item-input note-label-wrapper note-label">
    <i class="icon ion-compose placeholder-icon"></i>
    <textarea class="custom-textarea" ng-model="note.noteNotes" placeholder="notes...">{{note.noteNotes}}</textarea>
  </label>
  <div class="item button button-positive add-button" ng-model="saveButton" ng-click="updateNote(note)">save changes</div>
  </div>

  <!-- <textarea>{{note.noteNotes}}</textarea> -->

</div><!-- end of list -->

</div><!-- end of note-wrapper -->
