<div class="pictures-panel-wrapper" ng-controller="picturesPanelController">
<i class="button button-small ion-close-round custom-close-pictures-panel" ng-click="closePicturesPanel()"></i>

<h3 class="note-title">{{res.noteTitle}} photos</h3>
<div class="" ng-repeat="pic in pictures">
  <div class='pic-wrapper'>
  	<img class="pictures-panel-image" src="{{pic.pictureString}}">
  	<i class="icon ion-close-circled del-pic-button" ng-click="deletePic({{pic.id}})"></i>
  </div>
</div>
<div class="pictures-wrapper">

</div><!-- end of pictures-wrapper -->

</div><!-- end of pictures-panel-wrapper -->
