body{
  background-color: whitesmoke;
  .scroll-content{
    overflow: scroll;
    margin-bottom: 44px;
  }
}

//header
.earth-custom{
  height: 30px;
  width: 30px;
  font-size: 33px;
  margin-left: 5px;
}
.title{
  text-transform: uppercase;
}

// buttons
.custom-button{
  margin-left: 4px;
}

//icons
.right-arrow-button,
.custom-location{
  color: black;
  position: absolute;
  right: 25px;
  top: 2px;
  font-size: 20px;
}
.custom-location{
  font-size: 25px;
}

//modal
.custom-modal{
  display: none;
  // display: block;
  overflow: auto;
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 165, 165, 0.9);
  .content{
    border: 1px solid grey;
    position: absolute;
    z-index: 21;
    top: 100px;
    background-color: whitesmoke;
    left: 10%;
    height: 210px;
    right: 10%;
  }
  .custom-close-modal{
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 25px;
    color: black;
  }
  .modal-header{
    @extend .cf;
    display: block;
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    h3{
      margin: 0;
      font-size: 20px;
    }
    i{
      margin-right: 5px;
      font-size: 25px;
    }
  }
  input{
    display: block;
    width: 90%;
    margin: 25px auto 20px;
    outline: 1px solid grey;
    padding: 0 10px;
  }
  .add-button{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
.city-modal{
  display: none;
}

//back-bar
.back-bar{
  padding: 15px 40px;
  text-transform: uppercase;
  .left-arrow,
  .right-arrow{
    float: left;
    position: relative;
    right: 10px;
  }
  .right-arrow{
    // float: right;
  }
}

//map styles
#map{
  height: 150px;
  .gm-sm {
    display: none !important;
  }
  .login-control{
    display: none !important;
  }
}
