body{
  background-color: whitesmoke;
}

//header
.earth-custom{
  height: 30px;
  width: 30px;
  font-size: 33px;
  margin-left: 5px;
}
.title{
  text-transform: uppercase;
}

// buttons
.custom-button{
  margin-left: 4px;
}

.right-arrow{
  color: black;
  // position: relative;
  // z-index: 20;
  // float: right;
  position: absolute;
    right: 50px;
    top: 2px;
}

//modal
.custom-modal{
  display: none;
  content: "";
  // display: block;
  clear: both;
  border: 1px solid grey;
  position: absolute;
  z-index: 20;
  top: 100px;
  background-color: whitesmoke;
  left: 10%;
  height: 170px;
  right: 10%;
  .custom-close-modal{
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 22px;
    color: grey;
  }
  input{
    display: block;
    width: 90%;
    margin: 40px auto 20px;
    outline: 1px solid grey;
    padding: 0 10px;
  }
  .button{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}

//back-bar
.back-bar{
  padding: 15px 40px;
  text-transform: uppercase;
  .left-arrow{
    float: left;
    position: relative;
    right: 10px;
  }
}

//map styles
#map{
  height: 150px;
  .gm-sm {
    display: none !important;
  }
  .login-control{
    display: none !important;
  }
}
