body{
  background-color: whitesmoke;
  .scroll-content{
    overflow: scroll;
    margin-bottom: 44px;
  }
}
.bar-header{
  // border-bottom: 1px solid black !important;
}

.custom-header-bar{
  background-color: #2CC285 !important;
  border-color: #0FA86A !important;
}

//header
.earth-custom{
  height: 30px;
  width: 30px;
  font-size: 33px;
  margin-left: 5px;
}
.title{
  text-transform: uppercase;
}

// buttons
.custom-button{
  margin-left: 4px;
}

//icons
.right-arrow-button,
.custom-location{
  color: black;
  position: absolute;
  right: 25px;
  top: 2px;
  font-size: 20px;
}
.custom-location{
  font-size: 25px;
}

//modal
.custom-modal{
  display: none;
  // display: block;
  overflow: auto;
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 165, 165, 0.9);
  .content{
    border: 1px solid grey;
    position: absolute;
    z-index: 21;
    top: 100px;
    background-color: whitesmoke;
    left: 10%;
    height: 210px;
    right: 10%;
  }
  .custom-close-modal{
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 25px;
    color: black;
  }
  .modal-header{
    @extend .cf;
    display: block;
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    h3{
      margin: 0;
      font-size: 20px;
    }
    i{
      margin-right: 5px;
      font-size: 25px;
    }
  }
  input{
    display: block;
    width: 90%;
    margin: 25px auto 20px;
    outline: 1px solid grey;
    padding: 0 10px;
  }
  .add-button{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
.city-modal{
  display: none;
}

//back-bar
.back-bar{
  padding: 15px 40px;
  text-transform: uppercase;
  .left-arrow,
  .right-arrow{
    float: left;
    position: relative;
    right: 10px;
  }
  .right-arrow{
    // float: right;
  }
}

//map styles
#map{
  height: 150px;
  // border-bottom: 1px solid black;
  // border-top: 1px solid black;
  // background: url('../img/google-maps.jpg') !important;
  background-size: cover !important;
  background-position-y: 50% !important;
  .gm-sm {
    display: none !important;
  }
  .login-control{
    display: none !important;
  }
}
#welcome-image{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: url('../img/nashville.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  .app-title,
  .welcome-city{
    text-align: center;
    margin-top: 4em;
    text-transform: uppercase;
    color: crimson;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    font-family: sans-serif;
  }
  .welcome-city{
    margin: 0;
    position: absolute;
    bottom: 5.5em;
    right: 1em;
    font-size: 1.1em;
  }
}
.chicago{
  background: url('../img/chicago.jpg') !important;
}
.toronto{
  background: url('../img/toronto.jpg') !important;
}
.dc{
  background: url('../img/dc.jpg') !important;
}
.san-francisco{
  background: url('../img/san-francisco.jpg') !important;
}
.philadelphia{
  background: url('../img/philadelphia.jpg') !important;
}
.istanbul{
  background: url('../img/istanbul.jpg') !important;
}
.atlanta{
  background: url('../img/atlanta.jpg') !important;
}
.new-york{
  background: url('../img/new-york.jpg') !important;
}
.nashville{
  background: url('../img/nashville.jpg') !important;
}
.london{
  background: url('../img/london.jpg') !important;
}
.firenze{
  background: url('../img/firenze.jpg') !important;
}
.google-maps{
  background: url('../img/google-maps.jpg') !important;
}
//footer
.bar-footer {
  z-index: 30;
}

