.note-wrapper{
  // display: block;
  display: none;
  position: absolute;
  outline: 1px solid;
  z-index: 21;
  width: 100%;
  top: -50px;
  background-color: lightsteelblue;
  padding-bottom: 20px;
  .custom-close-note{
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 32px;
    color: black;
  }
  .note-title{
    display: block;
    margin: 8px 10px 0px;
  }
  .item-input{
    font-size: 30px;
    input,
    textarea{
      font-size: 17px;
    }
  }
  .note-label-wrapper{
    position: relative;
    .icon{
      position: absolute;
      top: 0;
    }
  }
  .custom-textarea{
    min-height: 200px;
    padding: 5px 10px 5px 32px;
  }
  .button-area{
    @extend .cf;
    position: relative;
    .option-button{
      width: 5em;
    }
    #modify-note-btn{
      float: right;
    }
    //option-panel
    .options-panel-wrapper{
      position: absolute;
      display: none;
      z-index: 22;
      bottom: 47px;
      left: 1px;
      right: 1px;
      height: 47px;
      background-color: lightsteelblue;
      outline: 1px solid white;
      .button{
        font-size: 32px;
        background-color: lightsteelblue;
        border: 1px solid;
      }
    }
  }
}
.pictures-panel-wrapper{
    display: none;
    position: absolute;
    outline: 1px solid;
    z-index: 22;
    width: 100%;
    top: 0px;
    background-color: lightsteelblue;
    padding-bottom: 20px;
    .custom-close-pictures-panel{
      position: absolute;
      right: 8px;
      top: 5px;
      font-size: 32px;
      color: black;
    }
    .pictures-panel-image{
      width: 94%;
      // height: 400px;
      margin: 10px 3% 0;
    }
}
