<!DOCTYPE html>
<html ng-app="travel">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script>
      // if(window.cordova) {
        // window.phonegap = {}
        // console.log('sqlitePlugin: '+window.sqlitePlugin);
      // }
    </script>

    <!-- firebase -->
    <script src="js/firebase-web.js"></script>
    <script src="js/angularfire.js"></script>

    <!-- lokiJS -->
    <script src="js/lokijs.js"></script>
    <script src="js/loki-angular.js"></script>
    <script src="js/loki-indexed-adapter.js"></script>
    <script src="js/loki-cordova-fs-adapter.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/velocity.min.js"></script>
    <script src="js/velocity.ui.js"></script>
    <script src="js/welcome-city.js"></script>


    <!-- js files -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/geolocation.js"></script>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMtvvvpS6EdDRhhcPa-gbRaoOe7BQR6dk&amp;callback=initMap" async defer>
    </script>
    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMtvvvpS6EdDRhhcPa-gbRaoOe7BQR6dk&amp;libraries=places"></script>
  </head>
  <body ng-controller="MainCtrl">
    <div id="welcome-image" ng-click="welcome()">
      <h3 class="app-title">app title</h3>
      <h3 class="welcome-city"></h3>
    </div>
    <ion-header-bar class="top bar-positive"><!-- header-bar -->
      <i class="ion-earth earth-custom" id="earth-icon" value="" ng-click="showCities()"></i>
      <h1 class="title"></h1>
      <button class="button button-icon ion-plus" ng-click="addStuff()"></button>
    </ion-header-bar><!-- end of header-bar -->

    <ion-content>
    <div>
      <div id="map" ng-click="getLocation()"></div>
    </div>

    <!-- new category modal -->
    <div class="custom-modal" data-id="newCat" ng-controller="addController">
      <div class="content">
      <i class="button button-small ion-close-round custom-close-modal" ng-click="closeModal()"></i>
      <div class="modal-header">
        <h3><i class="icon ion-clipboard"></i>new category</h3>
      </div>
      <input type="text" ng-model="catName" placeholder="insert new CATEGORY here">
      <div class="item button button-positive add-button" ng-model="addButton" ng-disabled="!catName" ng-click="submitCategory()">add category</div>
      </div>
    </div>
    <!-- end of modal -->
    <ion-list class="category-list">
      <ion-item class="categories-header">categories</ion-item>
      <ion-item class="" ng-repeat="item in items">
      <div class="" ng-click="showCategory(item)">
        {{item.categoryname}}
        <i class="button ion-chevron-right right-arrow-button"></i>
        <ion-option-button class="button-assertive" ng-click="deleteItem(item, &apos;category&apos;)">
          <i class="icon ion-close-circled custom-button"></i>
        </ion-option-button>
      </div>
      </ion-item>
    </ion-list>

    <!-- includes -->
    <div ng-controller="includeCtrl">
      <div ng-include="" src="template.categories"></div>
    </div>

    <div ng-controller="includeCtrl">
      <div ng-include="" src="template.cities"></div>
    </div>

    <!-- <div class="test-db" ng-controller="DbController">
      <input type="text" ng-model="firstName" placeholder="insert first name">
      <input type="text" ng-model="lastName" placeholder="insert last name">
      <button class="button" ng-click="insert(firstName, lastName)">Insert</button>
      <input type="text" ng-model="selectLastName" placeholder="insert last name to search">
      <button class="button" ng-click="select(selectLastName)">Select</button>
      <h3 id="select-result">result</h3>
    </div> -->


    </ion-content> <!-- end of content -->

    <div class="bar bar-footer bar-dark">
      <button class="button button-icon ion-ios-location pull-left" ng-click="getLocation()"></button>
      <button class="button button-icon ion-ios-cog pull-right" ng-click="refresh()"></button>
    </div>

    <!-- <ion-nav-view></ion-nav-view> -->

  </body>
</html>
